<!-- Search -->
<div class="header-panel shadow-z-2-filter">
    <div class="page-container">
        <div class="filter-row">

            <div class="fil">
                <form role="search">
                    <div class="form-group search-input">
                        <input type="text" class="form-control" placeholder="Search by solutions tutorials or services" ng-model="searchTextData">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <span class="project-content_description">
            Learn how to build, deploy and scale real-world solutions on IBM Cloud. These guides provide step-by-step instructions on how to use IBM Cloud to implement common patterns based on best practices and proven technologies.
    </span>
</div>

<!-- Solutions -->
<div class="page-container main outer solutions" ng-repeat="categoryGroups in groups | filter:searchTextData">

    <div class="TotHome">
        <span class="leftHeaderLabel">
            <span class="headerPanelL">
                {{categoryGroups.name}}
            </span>

            <!-- <a href="./#!/solutions" class="allButton">
                All
                <img src="icons/goto.svg" alt="All on solutions">
            </a> -->
        </span>

    </div>
    <main class="content">
        <div class="card__content">
            <ul class="items-wrapper solutions">
                <!-- START FULL PAGE -->
                <div class="resources__wrapper" ng-scrollable="{events:'emit',id:1}">
                    <li class="inside project-item slide-animation" ng-repeat="sample in categoryGroups.solutions | filter:searchTextData">
                        <div class="project-outer solutions" ng-class="{{sample.count}}">
                            <!-- tracking sample links -->
                            <div class="link-title">
                                <a id="demoID" href="https://console.bluemix.net/docs/tutorials/{{sample.url}}" target="_blank">{{sample.name}}</a>
                            </div>
                            <div class="project-content description">
                                <span>{{sample.description}}</span>
                            </div>

                            <div class="project-content tag-group">
                                <div class="tag-holder">
                                    <span ng-repeat="sampleTag in sample.tags">
                                            <span class="tag-filter language" ng-class="LanChecked" id="" >{{sampleTag}}</span>
                                    </span>
                                </div>
                            </div>

                            <div class="solutionImageDIV">
                                <span class="solutionImageDIVspan">
                                    <img class="architectureDiagram" src="https://console.bluemix.net/docs/api/content/tutorials/{{sample.imgSrc}}?lang=en-US"> 
                                </span>
                            </div>
                        </div>
                        <meta name="description" content="{{sample.search}}">
                        <div class="tag-level solutions">
                            <span class="project-link">Last updated: {{sample.lastUpdated}}</span>

                            <span ng-show="{{sample.urlLink !== ''}}" class="project-link demo">
                                <a id="LiveDemo" href="https://console.bluemix.net/docs/tutorials/{{sample.url}}" class="hrefLink" target="_blank">View Solution</a>
                            </span>

                        </div>

                    </li>
                </div>
            </ul>
        </div>
    </main>
</div>

<br>
<br>
